doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title アンケート一覧
  body
    h1 アンケート一覧
    ul
      li
        a(href="./enquetes/yaki-tofu") 焼肉・湯豆腐
      li
        a(href="./enquetes/rice-bread") ごはん・パン
      li
        a(href="./enquetes/sushi-pizza") 寿司・ピザ